@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

::-moz-selection {
  @include bg-color(color);
  @include accent-color(background-color);
}

::selection {
  @include bg-color(color);
  @include accent-color(background-color);
}

.scroll-container {
  height: 100vh;
}

body {
  font-family: $font;
  @include primary-color(color);
  @include bg-color(background-color);
}

a.link {
  @include text-color(color);
  @include link-hover;
}

p {
  @include text-color(color);
  line-height: 1.4;
}

svg path {
  @include accent-color(fill);
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 0 28px;
  @media screen and (max-width: 992px) {
    width: 100%;
  }
}

footer {
  padding-bottom: 64px;
  padding-top: 96px;
  display: flex;
  .socials {
    a {
      @include text-color(color);
      text-decoration: none;
      @include link-hover;
    }
  }
  span {
    margin-left: auto;
  }
}
